.story-container {
  height: 924px;
  background-color: #f6ce32;
}

.story-container .title {
  font-size: 40px;
  font-family: "MapleBold";
  font-weight: bolder;
  text-align: center;
  padding: 100px 0 50px;
}

.story-container .story {
  font-size: 14px;
  text-align: center;
  font-weight: bold;
}

.story-container .story div {
  margin: 15px;
}

.cat-image {
  position: absolute;
  left: 50%;
  z-index: 1;
}
/* 
.cat-image {
  position: absolute;
  left: 60%;
  width: 500px;
} */
